{{ define "main" }}

<section class="section-padding">
  <div class="container">
    <div class="row no-gutters" data-aos="fade-in" data-aos-delay="150">
      <div class="col-lg-3 col-md-4 mt-2 mt-lg-0 d-none d-md-block">
        <ul id="navbar-spy" class="nav flex-column tabs-navbar position-sticky">
          {{ range where .Site.RegularPages "Section" "events" }}
          <li class="nav-item">
            <a class="nav-link h5 font-weight-600 px-0 py-4 border-bottom smooth-scroll" href="#{{ .Title | urlize}}">{{
              .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-8 col-md-8 border-left border-md-0">
        <div class="content content-active pl-0 pl-md-4 ml-0 ml-md-2">
          {{ range where .Site.RegularPages "Section" "events" }}
          <hr>
          <h2 id="{{ .Title | urlize}}">{{ .Title }}</h2>
          {{ range .Params.tags }}
          <span class="badge badge-primary">{{ . }}</span>
          {{ end }}
          <h3>{{ .Params.description }}</h3>
          {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form method="POST" class="rounded shadow p-30" action="{{site.Params.contact_form_action}}">
        <div class="form-group mb-30">
          <label class="text-black-200 h5 font-weight-600 mb-2" for="fname">{{ i18n "name"}} <strong
              style="color: darkred;">*</strong></label>
          <input class="form-control shadow-none" type="text" placeholder="Chuck Norris" id="fname" required>
        </div>
        <div class="form-group mb-30">
          <label class="text-black-200 h5 font-weight-600 mb-2" for="email">{{i18n "mail"}} <strong
              style="color: darkred;">*</strong></label>
          <input class="form-control shadow-none" type="email" placeholder="chuck@norris.ch" id="email" required>
        </div>
        <div class="form-group mb-30">
          <label class="text-black-200 h5 font-weight-600 mb-2" for="name">Event: <strong
              style="color: darkred;">*</strong></label>
          <select id="schar" name="schar" class="form-control" required>
            <option selected disabled>-- Bitte wählen --</option>
            {{ range where .Site.RegularPages "Section" "events" }}
            <option value="{{ .Title }}">{{ .Title }}</option>
            {{ end }}
          </select>
        </div>
        <div class="form-group mb-30">
          <label class="text-black-200 h5 font-weight-600 mb-2" for="personen">Anzahl Personen: <strong
              style="color: darkred;">*</strong></label>
          <input class="form-control shadow-none" type="number" id="personen" name="personen" value="2" required>
        </div>
        <div class="form-group mb-30">
          <label class="text-black-200 h5 font-weight-600 mb-2" for="message">{{ i18n "message"}}</label>
          <textarea class="form-control shadow-none" name="comment" rows="5" id="message" required></textarea>
        </div>
        <button class="btn btn-primary w-100" type="submit">{{ i18n "submit"}}</button>
      </form>
    </div>
  </div>
</section>

{{ end }}